/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    padding: 16px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .layout {
    display: flex;
    min-height: calc(100vh - 65px);
  }
  
  .sidebar {
    width: 280px;
    border-right: 1px solid #e5e5e5;
    padding: 16px;
  }
  
  .content {
    flex: 1;
    padding: 16px;
  }
  
  .muted {
    color: #666;
  }
  
  @media (max-width: 900px) {
    .layout {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid #e5e5e5;
    }
  }  
